.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    width: 700px;
    height: 350px;
    /* border: 1px solid grey; */
    border: 2px solid grey;
    border-radius: 5px;
    /* margin: 0 10px; */
    margin: 10px 30px;
    text-align: center;
}
.register,.order,.update{
    height: 100%;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register p,.order p,.update p{
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .top-container {
    display: flex;
    flex-direction: row;
  }
  
  .bottom-container {
    display: flex;
    flex-direction: row;
  }

  .form {
    width: 210px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 5px;
  }
