/* .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    margin: 0 10px;
    text-align: center;
} */
.register,.order,.update{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register p,.order p,.update p{
    font-size: 1.2rem;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 350px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px 30px;
    text-align: center;
}
.register,.order,.update{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register p,.order p,.update p{
    font-size: 1.2rem;
}

.container1 {
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
  }
  
  .top-container {
    display: flex;
    flex-direction: row;
  }
  
  .bottom-container {
    display: flex;
    flex-direction: row;
  }

  .form1 {
    width: 210px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 5px;
  }
  /* body{
    overflow-x: hidden;
  } */

  .box-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
    width: 800px;
    height: 500px;
}